extends ../tpl_main

block content
  h2.heading About
  p
    | The 
    span.bold Phonebook Management Application 
    | developed by 
    a.bold(href="http://ankitbhimani.in/" target="_blank") Ankit Bhimani
    |  
    | is based on the 
    span.bold ExpressJS, AngularJS and NodeJS 
    |  stack. Data is persisted using HTML5 Local Storage with the help of 
    a.bold(href="https://github.com/gsklee/ngStorage" target="_blank") ngStorage
    |  
    | that works with AngularJS.
