extends ../tpl_main

block content
  h2.heading Documentation
  p
    a(href='/README.pdf', target='_blank') Click here
    |  to download the documentation for the 
    span.bold Phonebook Management Application
    | .
